@{
    ViewData["Title"] = "Home Page";
}



<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfinitySky</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true">
</head>
<body>

    <!-- Banner com as 3 fotos -->
    <section class="banner">

        <img class="banner-image" src="/img/fundomelhorlugar.png" alt="banner-image" />

        <div class="banner-text">
            <h1>ESCOLHA O MELHOR LUGAR</h1>
            <p>E VIVA EXPERIÊNCIAS INCRÍVEIS</p>
        </div>
    </section>

    <!-- Descrição que aparece -->
    <section class="descricao">
        <p>Escolher o melhor país para fazer um intercâmbio é como selecionar a estrela mais brilhante em um vasto céu de oportunidades.</p>
    </section>


    <br><br><br>
    <!-- Cartões -->
    <section class="programas">
        <h2>Encontre o seu programa de intercâmbio</h2>
        <div class="cards">
            <div class="card">
                <img src="/img/fundoviagem.png" alt="Melhores países">
                <h3>Melhores países</h3>
                <p>Os melhores pacotes de países – comece a arrumar as malas</p>
            </div>


            <div class="card">
                <img src="/img/fundoviagem2.png" alt="Estudos">
                <h3>Estudos</h3>
                <p>Descrição dos principais pacotes de intercâmbio – informações dos mais vendidos</p>
            </div>


            <div class="card">
                <img src="/img/fundoviagem3.png" alt="Explore novos idiomas">
                <h3>Explore novos idiomas</h3>
                <p>Descrição dos principais pacotes de intercâmbio – informações dos mais vendidos</p>
            </div>
        </div>
    </section>




    <!-- Adicionando todas as bandeiras -->
    <div class="paises-parceiros">
        <h2>PAÍSES PARCEIROS</h2>
        <div class="bandeiras">
            <img src="/img/italia.png" alt="Italia">
            <img src="/img/portugal.png" alt="Portugal">
            <img src="/img/espanha.png" alt="Espanha">
            <img src="/img/argentina.png" alt="Argentina">
            <img src="/img/reinounido.png" alt="Reino Unido">
            <img src="/img/franca.png" alt="Franca">
            <img src="/img/eua.png" alt="Estados Unidos">
            <img src="/img/alemanha.png" alt="Alemanha">
            <img src="/img/canada.png" alt="Canadá">

        </div>
    </div>

    </div>




</body>
</html>
